@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Josefin+Sans:ital,wght@0,100;0,200;1,100&display=swap');
:root {
    --font-size: 1.5rem;
    --link-color: #462044;
    --link-hover-color: #8C4088;
    --primary-font: 'Amatic SC', cursive;
    --secondary-font: 'Josefin Sans', sans-serif;
    --black: #17202A;
    --white: #EAECEE;
    --pink: #E791B7;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-family: var(--primary-font);
    font-size: var(--font-size);
    color: var(--black);
    background-color: var(--white)
}

h1,
h2,
h3,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: var(--black);
    text-decoration: none;
}

a:hover {
    color: var(--pink);
}

.imageWrapper {
    width: 100%;
}