@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Josefin+Sans:ital,wght@0,100;0,200;1,100&display=swap');
:root {
    --font-size: 1.5rem;
    --link-color: #462044;
    --link-hover-color: #8C4088;
    --primary-font: 'Amatic SC', cursive;
    --secondary-font: 'Josefin Sans', sans-serif;
    --black: #17202A;
    --blue: #97eaff;
    --pink: #E791B7;
    --white: rgb(217, 234, 238);
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-family: var(--primary-font);
    font-size: var(--font-size);
    color: var(--white);
    background-color: var(--blue)
}

h1,
h2,
h3,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: var(--black);
    text-decoration: none;
}

a:hover {
    color: var(--pink);
}

.imageWrapper {
    width: 100%;
    margin: 0;
    padding: 0;
}


/* text animation */

.animated-text-wrapper {
    /* margin: 10% 20%; */
    border: red solid 3px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.line {
    border: solid pink 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 100vw;
    height: 10vh; */
    /* flex-basis: 100% */
}

.content {
    border: solid 1px black;
    width: 100%;
    text-align: center;
    /* transform: translateX(50px); */
}

.left,
.right {
    /* width: 50vw;
    overflow: hidden;
    display: inline-block; */
}

.left {
    background-color: rgb(253, 6, 47);
    width: 50%;
    flex-basis: 100%
    /* transform: skew(0deg, -15deg); */
}

.right {
    color: black;
    background-color: rgb(60, 6, 253);
    flex-basis: 33.3%;
    width: 50%;
    /* transform: skew(0deg, 15deg); */
}


/* span {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 4vw;
    text-transform: uppercase;
    line-height: .8;
    transition: ease-out .6s;
} */