:root {
    --bg-color: #47A025;
    --font-size: 1.3rem;
    --primary-color: #EDF4CD;
    --secondary-color: #0F1104;
    --mono: 'Oxygen mono', monospace;
    --link-color: #462044;
    --link-hover-color: #8C4088;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-family: var(--mono);
    font-size: var(--font-size);
    color: var(--primary-color);
    background-color: var(--bg-color)
}

h1,
h2,
h3,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    color: var(--link-hover-color);
}

.imageWrapper {
    width: 100%;
}