.hero_section {
    border: solid 2px rgb(241, 7, 163);
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    margin: 0 0 0 0;
    /* padding: 4%; */
}

.animated_text_wrapper {
    display: none;
}

@media screen and (min-width: 861px) {
    .animated_text_wrapper {
        /* border: red solid 3px; */
        display: block;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        overflow: hidden;
        padding: 45vh 0 0 0;
    }
    .line {
        /* overflow: hidden; */
        /* border: 1px solid red; */
        width: 100vw;
        /* text-align: center; */
    }
    .left,
    .right {
        width: 50vw;
        overflow: hidden;
        display: inline-block;
    }
    .left {
        font-family: var(--primary-font);
        color: var(--pink);
        transform: skew(0deg, -18deg);
        /* transition-duration: 400ms; */
    }
    .right {
        color: var(--black);
        transform: skew(0deg, 18deg);
    }
    .left .content {
        font-family: var(--secondary-font);
        width: 100vw;
        text-align: center;
    }
    .right .content {
        font-family: 'Montserrat', sans-serif;
        width: 100vw;
        text-align: center;
        transform: translate(-50vw);
    }
    .span {
        display: inline-block;
        /* font-family: 'Montserrat', sans-serif; */
        font-size: 3.2vw;
        text-transform: uppercase;
        line-height: .8;
        transition: ease-out .6s;
    }
}