.home {
    width: 100vw;
    max-width: 1200px;
    border: solid 1px red;
    height: 90vh;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    text-align: center;
}

.logo_wrapper {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border: solid 1px rgb(4, 255, 4)
}


/* logo animation */

.line {
    width: 100%;
    border: solid 1px yellow;
}

.left,
.right {
    width: 100%;
    border: solid 1px rgb(51, 255, 0);
}

.left {
    background-color: purple;
    transform: skew(0, 12deg);
}

.right {
    background-color: rgb(230, 8, 238);
    transform: skew(0deg, -12deg);
}

.left .content {
    text-align: center;
    width: 100%;
}

.right .content {
    width: 100%;
    text-align: center;
    transform: translate(-30%);
}

.span {
    display: inline-block;
    font-size: 2vw;
    text-transform: uppercase;
    line-height: .3;
    transition: ease-out .6s;
}