.container {
    border: solid 5px rgb(192, 37, 240);
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    display: grid;
    /*    */
    /* flex-flow: column nowrap; */
    /* justify-content: flex-start; */
    /* align-items: center; */
}