.mobile_nav_toggle {
    display: none;
}

.nav {
    width: 100vw;
    min-height: 10vh;
    max-width: 1200px;
    /* border: solid 1px rgb(0, 26, 255); */
}

.nav_menu {
    gap: 2rem;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: flex-start;
    letter-spacing: .3rem;
}

@media screen and (max-width: 560px) {
    .nav {
        position: fixed;
    }
    .nav_menu {
        /* border: solid 1px rgb(60, 255, 0); */
        border-left: solid 1px #ad909dc0;
        background: rgba(255, 192, 203, 0.815);
        padding: 50% 3rem 0 3rem;
        position: fixed;
        inset: 0 0 0 30%;
        flex-flow: column;
        font-weight: 900;
        align-items: space-around;
        transform: translateX(100%);
        transition-property: transform;
        transition-duration: 400ms;
    }
    .menu_item {
        border: solid 2px #B08497;
        border-radius: 0.35em;
        box-shadow: 0px 15px 0px -3px rgba(249, 197, 211, 0.623), 0px 15.4px 0px -1px rgb(176, 132, 151);
        background: rgba(255, 192, 203, 0.308);
        flex-basis: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .menu_item:active {
        background: rgba(247, 220, 224, 0.795);
        transform: translateY(0.2em);
        transition-property: transform, background;
        transition-duration: 150ms;
    }
    .menu_item:first-child {
        display: none;
    }
    .header_logo {
        display: none;
    }
    .mobile_nav_toggle {
        display: block;
        position: absolute;
        font-style: none;
        width: 1rem;
        top: 2rem;
        right: 3rem;
        z-index: 999;
        font-size: 2rem;
        color: #E18EB3;
    }
    .mobile_nav_toggle.active {
        color: rgb(176, 132, 151);
        transition-property: color;
        transition-duration: 200ms;
    }
    .nav_menu.active {
        transform: translateX(0%);
        transition-duration: 400ms;
    }
}

@media screen and (min-width: 561px) and (max-width: 860px) {
    .nav {
        padding: 1.2rem 0 1rem 0;
        text-align: center;
    }
    .nav_menu {
        justify-content: center;
    }
    .menu_item:first-child {
        flex-basis: 100%;
    }
}

@media screen and (min-width: 861px) {
    .nav {
        padding: 1.2rem 2rem 0.5rem 2rem;
    }
    .nav_menu {
        align-items: flex-end;
        letter-spacing: .3rem;
        font-weight: 900;
    }
    .menu_item:first-child {
        margin: 0 auto 0 0;
    }
    .image_wrapper {
        margin: 0;
        padding: 0;
    }
    .header_logo {
        display: flex;
        gap: 1rem;
        align-items: flex-end;
    }
}