@media screen and (max-width: 560px) {
    .nav {
        border: solid 2px rgb(247, 2, 173);
        position: fixed;
        inset: 0 0 0 30%;
        background: pink;
        /* display: flex;
        flex-flow: column wrap;
        align-items: space-between;
        width: 100%; */
    }
    .ul {
        display: flex;
        flex-direction: column;
        padding: min(30vh, 10rem) 2em;
        gap: 1.2em;
        align-items: center;
    }
    .mobile_nav_toggle {
        position: absolute;
        width: 1rem;
        top: 2rem;
        right: 2rem;
        z-index: 999;
        font-style: none;
    }
}

@media screen and (min-width: 561px) and (max-width: 860px) {
    .nav {
        /* border: solid 2px rgb(5, 27, 223); */
    }
    .ul {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
    .li {
        /* border: solid 1px purple; */
        text-align: center;
    }
    .li:first-child {
        flex-basis: 100%;
    }
    .mobileIcon {
        display: none;
    }
}

@media screen and (min-width: 861px) {
    .nav {
        /* border: solid 1px rgb(229, 255, 0); */
        width: 100vw;
        height: 10vh;
        max-width: 1200px;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: flex-end;
        padding-bottom: 1rem;
    }
    .menu {
        display: flex;
        flex-flow: row;
        justify-content: flex-start;
        align-items: center;
        gap: 2rem;
    }
    .image_wrapper {
        /* border: solid 1px red; */
        margin: 0;
        padding: 0;
    }
    .mobile_nav_toggle {
        display: none;
    }
}